@tailwind base;
@tailwind components;
@tailwind utilities;


@layer base {
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    *::-webkit-scrollbar {
        display: none;
    }

    html,
    body {
        max-width: 100vw;
        height: 100%;
        overflow: hidden;
    }

    body > :first-child {
        height: 100%;
    }

    #__next {
        height: 100%;
    }

    a {
        color: inherit;
        text-decoration: none;
    }

    span {
        @apply select-none;
    }

    @media (prefers-color-scheme: dark) {
        html {
            color-scheme: dark;
        }
    }

    .text-h1 {
        @apply text-7xl;
        @apply font-light;

    }

    @media (max-width: 768px) {
        .text-h1 {
            @apply text-4xl;
        }
    }
    .content {
        @apply pt-5;
        @apply flex;
        @apply flex-col;
        @apply items-center;
        @apply h-full;
        @apply gap-y-4;
    }

    @media (max-width: 768px) {
        .content {
            @apply px-2;
        }
    }
}

@layer components {
    h1, h2, h3, h4, h5, h6 {
        line-height: 1;
        text-align: center;
    }
    h1 {
        font-size: 3rem;
        font-weight: bold;
    }

    h2 {
        font-size: 2.5rem;
    }
    h3 {
        font-size: 2rem;
    }
    h4 {
        font-size: 1.5rem;
    }

    @media (min-width: 1024px) {
        h1, h2, h3, h4, h5, h6 {
            text-align: left;
        }
        h1 {
            font-size: 3.75rem;
        }

        h4 {
            font-size: 1.75rem;
        }
    }
}
